<div class="row">
    <div class="col-md-3 text-center">
        <img src="{{ 'https://comeeat.blob.core.windows.net/demo/' + user.photoUrl }}" class="img-circle img-thumbnail" style="height:200px;" />

        <h3>{{ user.name }}</h3>
    </div>
    <div class="col-md-3 text-center" style="padding-top: 20px;">
        <h4>Average Rating</h4>
        <h1>{{user.score}}</h1>
        <br /><br />
        <a class="btn btn-success" [routerLink]="['/feedback/' + user.id]">Give Feedback</a>

    </div>
    <div class="col-md-6">
        <div class="row" *ngFor="let item of items">
            <div class="col-md-5" style="padding-top: 20px;">
                {{item.name}}
            </div>
            <div class="col-md-6">
                <bar-rating [(rate)]="item.score" [max]="10.00" [readOnly]="true"></bar-rating>
            </div>
            <div class="col-md-1 text-center" style="padding-top: 20px;">
                {{item.score}}
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row card" *ngFor="let feedback of user.feedbacks" style="margin-bottom: 10px;background-color: #fafafa;">
    <div class="col-md-1 text-center">
        <img src="{{ 'https://comeeat.blob.core.windows.net/demo/' + feedback.user.photoUrl }}" class="img-circle img-thumbnail" style="height:60px;" />
        <h5>{{ feedback.user.name }}</h5>
    </div>
    <div class="col-md-1 text-right">
        <h3>{{feedback.score}}</h3>
    </div>
    <div class="col-md-4">
        <bar-rating [(rate)]="feedback.score" [max]="10.00" [readOnly]="true"></bar-rating>
        <p>{{feedback.message}}</p>
    </div>
    <div class="col-md-2" *ngFor="let url of feedback.photoUrls">
        <img src="{{ 'https://comeeat.blob.core.windows.net/demo/' + url }}" class="img-rounded" style="height:140px;" />
    </div>
</div>
