﻿div.br.br-default{
    margin: 0px !important;
}

.upload {
    border: 1px dashed #cccccc;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background-color: #eeeeee;
    cursor: pointer;
}

input[type='file'], .uploadedImg {
    display: none;
}

.uploadedImg {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
}