<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Please provide your feedback</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="{{ 'https://comeeat.blob.core.windows.net/demo/' + user.photoUrl }}" class="img-circle img-thumbnail" style="height:100px;" />
                    </div>
                    <div class="col-md-10" >
                        <h3 style="line-height: 60px;"> {{user.name}}</h3>                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p *ngIf="!items"><em>Loading...</em></p>
                        <p style="margin-top: 20px;"><strong>How did {{user.name}} do as a host?</strong></p>
                        <div class="row" *ngFor="let item of items">
                            <div class="col-md-6" style="padding-top: 20px;">
                                {{item.name}}
                            </div>
                            <div class="col-md-6">
                                <bar-rating [(rate)]="item.score" [max]="10.00" (rateChange)="calculateScore()"></bar-rating>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="row ">
                            <div class="col-md-4 text-center">
                                <p style="margin-top: 20px;"><strong>Your overall rating</strong></p>
                                <h1>{{sum}}</h1>
                            </div>
                            <div class="col-md-8">
                                <p style="margin-top: 20px;"><strong>Upload photos</strong></p>

                                <div class="row" style="padding-top: 5px;">
                                    <div class="col-md-4">
                                        <div class="upload" data-id="1" (click)="upload(1);">

                                        </div>
                                        <input type="file" id="file1" />
                                        <img class="uploadedImg" id="img1" (click)="upload(1);" />
                                    </div>
                                    <div class="col-md-4">
                                        <div class="upload" data-id="2" (click)="upload(2);">

                                        </div>
                                        <input type="file" id="file2" />
                                        <img class="uploadedImg" id="img2" (click)="upload(2);" />
                                    </div>
                                    <div class="col-md-4">
                                        <div class="upload" data-id="3" (click)="upload(3);">

                                        </div>
                                        <input type="file" id="file3" />
                                        <img class="uploadedImg" id="img3" (click)="upload(3);" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 20px;">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Describe your experience</label>
                                </div>
                                <textarea class="form-control" rows="5" [(ngModel)]="feedback.message"></textarea>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row" style="padding: 20px; padding-bottom:0;">
                    <button class="btn btn-success pull-right" (click)="save()">Submit</button>
                </div>
            </div>
        </div>



    </div>
</div>
