<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Comeat
            </a>
        </div>
        <p class="navbar-text navbar-right"><a href="#" class="navbar-link">{{ user.name }}</a></p>
        <img src="{{ user.photoUrl }}" class="navbar-header navbar-right img-circle img-thumbnail" style="height:40px; margin-top:5px;" />
    </div>
</nav>
<div class='container'>

    <div class='row'>
        <div class='col-sm-12 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
