﻿<h1 class="text-center">User List</h1>

<p></p>

<p *ngIf="!users"><em>Loading...</em></p>


<div class="row">
    <div class="col-md-3 text-center" *ngFor="let user of users">
        <div class="card">
            <img class="img-circle img-thumbnail" style="max-width: 100px!important" src="{{ 'https://comeeat.blob.core.windows.net/demo/' + user.photoUrl }}" />
            <h4>{{ user.name }}</h4>
            <a class="btn btn-success" [routerLink]="['/view/' + user.id]">View</a>
        </div>

    </div>
</div>
